{%  extends 'base.html' %}
{% block body %}

<div class="container">
    <div  class="row">
        {% for i in movie_list %}
        <div class="col-md-3">
            <div class="card" style="width: 18rem;padding: 20px 20px;">
  <img class="card-img-top" src="{{i.img.url}}" alt="" style="height:250;">
  <div class="card-body">
    <h5 class="card-title" style="height:50;">{{i.name}}</h5>
    <p class="card-text" style="height:50;">{{i.desc}}</p>
    <a href="{% url 'movieapp:detail' i.id %}" class="btn btn-primary">Click More</a>
  </div>
</div>
        </div>
        {% endfor %}
    </div>
</div>





{% endblock %}
